* {
  text-align: center;
  font-size: 1.5rem;
}
  
  #highlighted-elem {
    color: red;
    background-color: blanchedalmond;
    border-style: solid;
    border-color: red;
  }

  body{
    height: 100vh
  }
  
  .brownText {
    color: brown;
  }

  .clock{
    height: 100vh;
  }

  .clock-body{
    max-width: 50%;
    min-width: 60%;
    background-color: black;
  }

  .greenBackground {
    background-color: green;
  }
  
  .heading{
    font-weight: 600;
  }

  .redBackground {
    background-color: red;
  }

  .thickBorder{
    border: 5px solid black;
  }

  .time{
    color: green;
    font-size: 100px;
  }

  .yellowText {
    color: yellow;
  }