* {
  text-align: center;
  font-size: 1.5rem;
}

  @font-face{
    font-family: digital;
    src: url(assets/font/digital-7.ttf);
  }
  
  #highlighted-elem {
    color: red;
    background-color: blanchedalmond;
    border-style: solid;
    border-color: red;
  }

  body{
    height: 100vh
  }
  .clock{
    font-family: digital;

  }

  .clock-body{
    max-width: 60%;
    min-width: 60%;
    background-color: black;
  }

  .time{
    color: green;
    font-size: 400px;
    padding: 0 2.5rem;
  }
