* {
  font-size: 1.5rem;
}

.toDoList{
  height: 100vh;
}

.list-group{
  width: 70%;
}

#highlighted-elem {
  color: red;
  background-color: blanchedalmond;
  border-style: solid;
  border-color: red;
}

.redBackground {
  background-color: red;
}

.greenBackground {
  background-color: green;
}

.yellowText {
  color: yellow;
}

.brownText {
  color: brown;
}

.thickBorder {
  border: 5px solid black;
}
